<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Spring Showcase - About VM</title>
<link type="text/css" href="../css/humanity/jquery-ui-1.8.16.custom.css"
	rel="stylesheet" />
<link type="text/css" href="../css/basic.css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="../js/jquery-ui-1.8.16.custom.min.js"></script>
</head>
<body>

	<div id="container">
		<h1>Spring Showcase - About</h1>
		<p>${welcomeMessage}</p>
	</div>

</body>
</html>
