<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Spring Showcase - Form VM</title>
<style>
.error {
	color: #ff0000;
	font-weight: bold;
}
</style>
</head>
<body>

	<div id="container">
		<form method="post" action="">
			<table>
				<tr>
					<td>Your name:</td>
					<td>#springFormInput("reservation.userName" "")
					</td>
					<td>#springShowErrors("" "")
					</td>
				</tr>
				<tr>
					<td>Your age:</td>
					<td>#springFormInput("reservation.age" "")
					</td>
					<td>#springShowErrors("" "")
					</td>
				</tr>
				<tr>
					<td colspan="3"><input type="submit" />
					</td>
				</tr>
			</table>
		</form:form>
	</div>

</body>
</html>
